# <span style=color:red><b>Sprint 7</b></span>

### <span style=color:blue><b>Nivell 1</b></span> 
- [X] __Exercici 1:__
Agafa un conjunt de dades de tema esportiu que t'agradi i selecciona un atribut del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

In [1]:
import pandas as pd
import numpy as np
import random

db = pd.read_csv('Match.csv')
db_1 = db[['match_minutes']].copy()
db_1.describe()

       match_minutes
count   10117.000000
mean      142.343284
std        52.397425
min         0.000000
25%       108.000000
50%       138.000000
75%       176.000000
max       665.000000

In [3]:
db_2=db_1.sample(n=100, random_state=0)
db_3=db_1.sample(n=100, random_state=2)

In [109]:
db_2 = sample_1[['match_minutes']].copy()
db_3 = sample_2[['match_minutes']].copy()

In [4]:
db_2.describe()

       match_minutes
count     100.000000
mean      150.190000
std        75.492417
min         0.000000
25%       106.750000
50%       135.000000
75%       178.250000
max       665.000000

In [5]:
db_3.describe()

       match_minutes
count     100.000000
mean      139.990000
std        57.519693
min         0.000000
25%       104.750000
50%       133.000000
75%       169.750000
max       396.000000

In [6]:
from scipy.stats import ttest_ind
stat, p = ttest_ind(db_2, db_3)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Aceptamos la hipótesis nula')
else:
    print('Rechazamos la hipótesis nula')

stat=1.075, p=0.284
Aceptamos la hipótesis nula

In [7]:
db_2b=db_1.sample(n=2, random_state=0)
db_3b=db_1.sample(n=2, random_state=1234)
print(db_2b.describe())
print(db_3b.describe())

       match_minutes
count       2.000000
mean      101.000000
std        25.455844
min        83.000000
25%        92.000000
50%       101.000000
75%       110.000000
max       119.000000
       match_minutes
count       2.000000
mean      220.500000
std        19.091883
min       207.000000
25%       213.750000
50%       220.500000
75%       227.250000
max       234.000000

In [8]:
stat, p = ttest_ind(db_2b, db_3b)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Aceptamos la hipótesis nula')
else:
    print('Rechazamos la hipótesis nula')

stat=-5.311, p=0.034
Rechazamos la hipótesis nula

### <span style=color:blue><b>Nivell 2</b></span> 
- [ ] __Exercici 2:__
Continua amb el conjunt de dades de tema esportiu que t'agradi i selecciona dos altres atributs del conjunt de dades. Calcula els p-valors i digues si rebutgen la hipòtesi nul·la agafant un alfa de 5%.

### <span style=color:blue><b>Nivell 3</b></span> 
- [ ] __Exercici 3:__
Continua amb el conjunt de dades de tema esportiu que t'agradi i selecciona tres atributs del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.